@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.fc {
  background: #121212;
  color: white;
}

.fc-daygrid-day {
  background: #1c1c1c;
}

.fc-daygrid-day:hover {
  background: #2a2a2a;
}

.fc-toolbar-title {
  color: #facc15;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
